
#first, #second{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 200px;
}

.one, .two{
	background-color: lightblue;
    width: 120px;
    height: 150px;
    margin: 10px 10px;
}
