h1{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  height: 40px;
  padding: 30px 10px 30px 10px;
}

.first{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.one, .front,.back{
    width: 160px;
    height: 200px;
    margin: 30px;
}

.one{
  transition: 0.5s;
  transform-style: preserve-3d;

}

.front, .back{
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.front{
  border-radius: 5px;
  width: 140px;
  background-color: lightpink;
  backface-visibility: hidden;  
  transform: rotateY(180deg);

}
.back{
  background-size: contain;
  background-position: center;
  backface-visibility: hidden;
  background-image: url(../assets/lol.gif);
}
 img.resize{
    width: 140px;
    height: 170px;
 }